/* Heading general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

/* HEADER */


/* Header fisso parte 1 */


/* Header fisso parte 2 */


/* MAIN */

/* Better way to grow */


/* Blocco verde per separare section */


/* Powerful */


/* HubSpot CRM */


/* Tre colonne di HUB */


/* Statistica di HubSpot */


/* Customers con imagini */


/* Start Growing */

/* FOOTER */

/* Informazioni del HubSpot */


/* Lingue */


/* Privacy Policy */
