/* Heading general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

header{
  position: fixed;
  width: 100%;
  height: 150px;
}

/* Header fisso parte 1 */

.back-color-blu{
  background-color: rgb(216, 251, 254);
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
}

.contenitore-header{
  margin: 0 10%;
  width: 80%;
}

.float-header-left{
  max-width: 50%;
  float: left;
}

#vvv{
  font-weight: bold;
  font-size: 18px;
}

#line{
  font-size: 22px;
  padding: 0 10px;
}


div .float-header-left{
  padding-top: 20px;
  font-size: 18px;
}

div .float-header-left a{
  text-decoration: none;
  color: rgb(0, 29, 68);
}
.float-header-right{
  max-width: 50%;
  float: right;
}

div .float-header-right{
  padding-top: 15px;
  font-size: 18px;
}

#search{
  color: rgba(0, 104, 143, 0.71);
}

#login{
  border: 1px solid orange;
  background-color: white;
  padding: 10px 5px;
  color: orange;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin: 0 15px;
}

#button{
  border: 1px solid rgb(255, 92, 0);
  background-color: rgb(255, 92, 0);
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

/* Header fisso parte 2 */

.back-color-none{
  background-color: white;
  width: 100%;
  height: 70px;
}

.float-header-right ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 0 12px;
}

.float-header-right ul li a, .float-header-right ul li a i{
  text-decoration: none;
  color: rgb(0, 29, 68);
}

.float-header-right ul li a i{
  padding-left: 10px;
}
/* MAIN */

main{
  width: 100%;
  height: 4000px;
  background-color: red;
}

/* Better way to grow */


/* Blocco verde per separare section */


/* Powerful */


/* HubSpot CRM */


/* Tre colonne di HUB */


/* Statistica di HubSpot */


/* Customers con imagini */


/* Start Growing */

/* FOOTER */

/* Informazioni del HubSpot */


/* Lingue */


/* Privacy Policy */
