/* Heading general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  color: rgb(0, 29, 68);
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

header{
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 999;
}

/* Header fisso parte 1 */

.back-color-blu{
  background-color: rgb(216, 251, 254);
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
}

.contenitore-header{
  margin: 0 10%;
  width: 80%;
}

.float-header-left{
  max-width: 50%;
  float: left;
}

#vvv{
  font-weight: bold;
  font-size: 18px;
}

#line{
  font-size: 22px;
  padding: 0 10px;
}


div .float-header-left{
  padding-top: 20px;
  font-size: 18px;
}

div .float-header-left a{
  text-decoration: none;
  color: rgb(0, 29, 68);
}
.float-header-right{
  max-width: 50%;
  float: right;
}

div .float-header-right{
  padding-top: 15px;
  font-size: 18px;
}

#search{
  color: rgba(0, 104, 143, 0.71);
}

#login{
  border: 1px solid rgb(255, 92, 0);
  background-color: white;
  padding: 10px 15px;
  color: rgb(255, 92, 0);
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin: 0 15px;
}

#button{
  border: 1px solid rgb(255, 92, 0);
  background-color: rgb(255, 92, 0);
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

/* Header fisso parte 2 */

.back-color-none{
  background-color: white;
  width: 100%;
  height: 70px;
}

.float-header-right ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 0 12px;
}

.float-header-right ul li a, .float-header-right ul li a i{
  text-decoration: none;
  color: rgb(0, 29, 68);
}

.float-header-right ul li a i{
  padding-left: 10px;
}
/* MAIN */

main{

}

/* Better way to grow */

.conteiner-jumbotron-first{
 border-top-width: 140px;
 border-top-style: solid;
 position: relative;
 width: 100%;
 height: 1000px;
 background-image: url("../img/jumbotron.png");
 background-repeat: no-repeat;
 background-position: right 0;
 background-size: 100% 100%;
}

.conteiner-grow{
  margin: 5% 10% 0 10%;
  width: 30%;
  height: auto;
}

.conteiner-grow h1{
  font-size: 52px;
  padding-bottom: 30px;
}

.conteiner-grow p{
  font-size: 18px;
  padding-bottom: 30px;
}

.conteiner-grow button{
  margin-bottom: 30px
}
.button-orange{
  border: 1px solid rgb(255, 92, 0);
  background-color: rgb(255, 92, 0);
  padding: 20px 50px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

.linea-verde{
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 3px solid rgb(0, 56, 9);
  border-bottom: 3px solid rgb(0, 56, 9);
  background-color: rgb(104, 222, 207);
}

/* Main parte centrale */

.conteiner-center{
  width: 100%;
  height: auto;
  background-color: rgb(216, 251, 254);
}

/* Powerful */

.menu-powerful{
  text-align: center;
  padding-top: 50px;
}

.menu-powerful h2{
  font-size: 35px;
  padding-bottom: 25px;
}

.cube{
  max-width: 300px;
  max-height: 300px;
  position: relative;
}

/* HubSpot CRM */


/* Tre colonne di HUB */


/* Statistica di HubSpot */


/* Customers con imagini */


/* Start Growing */

/* FOOTER */

/* Informazioni del HubSpot */


/* Lingue */


/* Privacy Policy */
