/* Heading general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  color: rgba(0, 29, 68, 0.9);
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

header{
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 999;
}

/* Chevron information */

.position-relative{
  position: relative;
}

.chevron-information{
  position: absolute;
  display: none;
  background-color: rgba(250, 247, 247, 0.8);
  padding: 0 10px 10px 10px;
}

.chevron-information li{
  list-style-type: none;
  margin-top: 5px;
}

.position-relative:hover .chevron-information{
  display: block;
}

.chevron-information a:hover{
  text-decoration: underline;
}

/* Header fisso parte 1 */

.back-color-blu{
  background-color: rgb(216, 251, 254);
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
}

.contenitore-header{
  margin: 0 10%;
  width: 80%;
}

.float-header-left{
  max-width: 50%;
  float: left;
}

#vvv{
  font-weight: bold;
  font-size: 18px;
}

#line{
  font-size: 22px;
  padding: 0 10px;
}


div .float-header-left{
  padding-top: 20px;
  font-size: 18px;
}

div .float-header-left a{
  text-decoration: none;
  color: rgb(0, 29, 68);
}
.float-header-right{
  max-width: 50%;
  float: right;
}

div .float-header-right{
  padding-top: 15px;
  font-size: 18px;
}

.search i{
  color: rgba(0, 104, 143, 0.71);
}

.search, .search:hover #search-invisible{
  display: inline-block;
}

#search-invisible{
  display: none;
}

#login{
  border: 1px solid rgba(255, 54, 0, 0.8);
  background-color: white;
  padding: 10px 15px;
  color: rgba(255, 54, 0, 0.8);
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin: 0 15px;
}

#button{
  border: 1px solid rgba(255, 54, 0, 0.8);
  background-color: rgba(255, 54, 0, 0.8);
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

/* Header fisso parte 2 */

.back-color-none{
  background-color: white;
  width: 100%;
  height: 70px;
}

.float-header-right ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 0 12px;
}

.float-header-right ul li a, .float-header-right ul li a i{
  text-decoration: none;
  color: rgb(0, 29, 68);
}

.float-header-right ul li a i{
  padding-left: 10px;
}

/* MAIN */


/* Better way to grow */

.conteiner-jumbotron-first{
 border-top-width: 140px;
 border-top-style: solid;
 position: relative;
 width: 100%;
 height: 1000px;
 background-image: url("../img/jumbotron.png");
 background-position: bottom;
 background-size: 100% 100%;
}

.conteiner-grow{
  margin: 5% 10% 0 10%;
  width: 30%;
}

.conteiner-grow h1{
  font-size: 52px;
  padding-bottom: 30px;
}

.conteiner-grow p{
  font-size: 18px;
  padding-bottom: 30px;
}

.conteiner-grow button{
  margin-bottom: 30px
}
.button-orange{
  border: 1px solid rgba(255, 54, 0, 0.8);
  background-color: rgba(255, 54, 0, 0.8);
  padding: 20px 50px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

.linea-verde{
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 3px solid rgb(0, 56, 9);
  border-bottom: 3px solid rgb(0, 56, 9);
  background-color: rgb(104, 222, 207);
}

/* Main parte centrale */

.conteiner-center{
  width: 100%;
  background-color: rgb(245, 248, 250);
}

/* Powerful */

.menu-powerful{
  text-align: center;
  padding-top: 50px;
}

.menu-powerful h2{
  font-size: 35px;
  padding-bottom: 25px;
}

.menu-powerful p{
  margin: 0 28%;
  padding-bottom: 50px;
}

.cube{
  max-width: 300px;
  max-height: 300px;
  position: relative;
}

/* HubSpot CRM */

.container-menu-crm{
  margin: 0 10%;
  width: 80%;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.float-main-left1{
  width: 27%;
  float: left;
}

.float-main-left1 img{
  max-width: 150px;
  max-height: 150px;
  margin: 50px 100px 25px 120px;
}

.float-main-left1 button{
  margin-left: 100px;
  margin-bottom: 80px;
}

.float-main-left2{
  width: 50%;
  float: left;
  position: relative;
}

.float-main-left2 h2{
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.float-main-left2 p{
  font-size: 18px;
  margin-bottom: 25px;
}

.float-main-left2 h3{

  font-size: 25px;
  margin-bottom: 25px;

}

.float-main-left2 i{
  color: rgba(255, 54, 0, 0.8);
  margin-right: 10px;
  font-size: 18px;
}

.float-main-left2 span{
  font-size: 20px;
  margin-right: 40px;
}
#linea-lunga{
  position: absolute;
  width: 80%;
  height: 1px;
  top: 200px;
  left: 45%;
}

/* Tre colonne di HUB */

.container-menu-principale{
  margin: 0 10%;
  width: 80%;
  background-color: rgb(245, 248, 250);
  border: 1px solid rgb(245, 248, 250);
  border-radius: 5px;
}


.margin{
  margin-top: 50px;
  padding-bottom: 50px;
}

.float-hub-left{
  width: calc(90% / 3);
  float: left;
  background-color: white;
  border: 1px solid rgb(245, 248, 250);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  text-align: center;
}

.position{
  margin: 0 5%;
}

.img-main{
  max-width: 150px;
  max-height: 100px;
}

.margin-hub{
  margin: 20px 70px;
}

.margin-hub h2{
  font-size: 30px;
  margin: 30px 0;
}

.margin-hub p{
  font-size: 18px;
  margin-bottom: 80px;
}

.margin-hub hr{
  margin-bottom: 40px;
}

.margin-hub h3{
  margin-bottom: 30px;
  font-size: 22px;
}

.margin-hub h5{
  font-size: 17px;
  text-align: justify;
}

.margin-hub h5 i{
  color: rgba(255, 54, 0, 0.8);
  margin-right: 10px;
}

.margin-hub button{
  margin-top: 50px;
}

/* Statistica di HubSpot */

.background-verde{
  width: 100%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.statistica-hub{
  width: 80%;
  margin: 0 10%;
  padding: 50px 0;
  text-align: center;
  color: white;
}

.statistica-hub h2:first-child{
  font-size: 42px;
  margin-bottom: 30px;
}

#fontsize-p{
  font-size: 20px;
  margin-bottom: 65px;
}

.statistica-box1{
  width: 100%;
}

.statistica-box1 h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.statistica-box1 h5{
  font-size: 12px;
  margin-bottom: 20px;
}

.statistica-box2{
  width: 100%;
}

.statistica-box2 h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.statistica-box2 h5{
  font-size: 12px;
  margin-bottom: 20px;
}

.statistica-box2 .float-statistica-left{
  border-bottom: 0;
}

.float-statistica-left{
  width: 25%;
  float:left;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.float-statistica-left img{
  margin: 15px 0;
}

/* Customers con imagini */

.conteiner-main-last{
  width: 100%;
}

.customers-hub{
  width: 80%;
  margin: 0 10%;
}

.float-customers-left1{
  width: 25%;
  float: left;
  text-align: center;
  padding: 0 100px;
  margin: 70px 0 0 0;
}

.float-customers-left1 h2{
  font-size: 50px;
  margin-bottom: 30px;
}

.float-customers-left1 p{
  font-size: 16px;
}

.float-customers-left2{
  width: 75%;
  float: left;
  margin: 70px 0 0 0;
  padding-left: 250px;
  text-align: left;
}

.display-line img{
  display: inline-block;
  max-width: 150px;
  max-height: 100px;
  margin: 0 5% 10px 0;
}

.display-line .img-margin-bottom-line1{
  margin-bottom: 20px;
}

.display-line .img-margin-bottom-line2{
  margin-bottom: 25px;
}


/* Start Growing */
.float-growing-left{
  width: 40%;
  float: left;
  margin-top: 120px;
  margin-bottom: 50px;
}

.float-growing-left h2{
  font-size: 40px;
  margin-bottom: 40px;
}

.float-growing-left p{
  font-size: 20px;
  margin-bottom: 40px;
}

.float-growing-left button{
  margin-bottom: 40px;
}

.float-growing-left h5{
  font-size: 15px;
  font-weight: normal;
}

.float-growing-right{
  width: 25%;
  float: right;
  margin-top: 60px;
}

.float-growing-right img{
  max-width: 420px;
  max-height: 420px;

}

/* FOOTER */

.conteiner-footer{
  width: 100%;
  background-color: #32495b;
}

.footer-hub{
  width: 80%;
  margin: 0 10%;
  padding: 50px 0;
}
/* Informazioni del HubSpot */

.float-footer-left{
  width: 25%;
  float: left;
}

.float-footer-left h4{
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.float-footer-left ul li{
  list-style-type: none;
}

.float-footer-left a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: rgba(205, 217, 224, 0.8);
  margin-bottom: 20px;
}

#button-grey{
  border: 1px solid rgb(245, 248, 250);
  background-color: rgb(245, 248, 250);
  padding: 10px 10px;
  color: rgba(0, 29, 68, 0.8);
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

#inline-siti a{
  display: inline-block;
  font-size: 18px;
  padding: 20px 20px 20px 0;
}

/* Lingue */

.lingue{
  text-align: center;
  margin: 50px 0 30px 0;
}

.lingue ul li {
  display: inline-block;
  color: rgba(205, 217, 224, 0.8);
  margin-left: 40px;
}

.lingue ul li a{
  text-decoration: none;
  color: rgba(205, 217, 224, 0.8);
}

#linea-grey2{
  color: rgba(205, 217, 224, 0.8);
  margin-bottom: 50px;
}

/* Privacy Policy */

.float-footer-pie-left{
  width: 20%;
  float: left;
  color: white;
}


.float-footer-pie-right{
  max-width: 15%;
  float: right;
}

.float-footer-pie-right a{
  display: inline-block;
  color: rgba(205, 217, 224, 0.8);
  text-decoration: none;
}

.float-footer-pie-right a:first-child{
  margin-right: 30px;
}

/* Help */

.help{
  position: fixed;
  font-size: 35px;
  background-color: rgba(0, 29, 68, 0.9);
  border-radius: 50%;
  padding: 15px;
  z-index: 950;
  bottom: 20px;
  right: 20px;
}

.help i{
  color: white;
}

.chating{
  display: none;
  position: absolute;
  width: 300px;
  right: 10px;
  bottom: 415px;
  background-color: rgba(238, 236, 236, 0.8);
  border: 1px solid black;
  border-radius: 5px;
}

.help:hover .chating{
  display: block;
}


.bot-chat{
  background-color: rgba(0, 29, 68, 0.9);
  height: 70px;
  display: block;
}

.bot-chat img{
  max-width: 60px;
  max-height: 60px;
}

#nome-bot{
  color: white;
  font-size: 25px;
  padding-bottom: 12px;
  display: inline-block;
  vertical-align: middle;
}

.chat-with-bot{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.chat-with-bot img{
  margin: 10px 0 0 25px;
  max-width: 40px;
  max-height: 40px;

}
.text-middle{
  width: 260px;
  padding: 0px 20px 20px 50px;
}

.text-bot{
  font-size: 20px;
}

.text-bot{
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  background-color: rgb(217, 217, 217);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 10px;
}

.text-bot:first-child{
  margin-top: 0px;
}

.button-help{
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  color: rgba(0, 29, 68, 0.9);
  border-radius: 5px;
  font-size: 12px;
}
